<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Вход</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        padding: 0px 10px;
    }

    @media screen and (max-width: 450px) {
        .login-form{
            margin-top: 10%;
        }
        .register-form{
            margin-top: 10%;
        }
    }
    @media screen and (min-width: 768px){
        .main{
            margin-left: 30%;
        }

        .sidenav{
            width: 40%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
        }
    }
</style>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div th:if="${param.error}" class="alert alert-danger">
            Неверные имя пользователя или пароль.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            Вы вышли из системы.
        </div>
        <div  th:if="${param.blocked}" class="alert-danger alert">
          Ваш аккаунт заблокирован.
        </div>

        <div class="login-form">
            <form method="post" role="form" th:action="@{/login}">
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <input
                            id="username"
                            type="text"
                            class="form-control"
                            placeholder="Имя пользователя"
                            name="username">

                </div>
                <div class="form-group" style="margin-bottom: 10px">
                    <label>Пароль</label>
                    <input
                            id="password"
                            type="password"
                            class="form-control"
                            placeholder="Пароль"
                            name="password">
                </div>
              <button style="margin-right: 10px" value="Log in" type="submit" class="btn btn-dark">Вход</button>
                <span>У вас еще нет учетной записи?</span> <a th:href="@{/register}" type="submit" >Зарегистрируйся здесь.</a>
            </form>
        </div>
    </div>
</div>
</body>

</html>