<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Регистрация</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        padding: 0px 10px;
    }

    @media screen and (max-width: 450px) {
        .login-form{
            margin-top: 10%;
        }
        .register-form{
            margin-top: 10%;
        }
    }
    @media screen and (min-width: 768px){
        .main{
            margin-left: 30%;
        }
    }
</style>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div th:if="${param.fail}" class="alert alert-success">
            Имя пользователя или email уже существуют!</div>
        <div class="login-form">
            <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Имя пользователя"
                            th:field="*{username}">
                </div>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">dfgh</p>
                <div class="form-group">
                    <label>Email</label>
                    <input
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            th:field="*{email}">
                </div>
                <p th:if="${#fields.hasErrors('email')}"  th:errors="*{email}" class="text-danger">dcfgh</p>
                <div class="form-group" style="margin-bottom: 10px">
                    <label>Пароль</label>
                    <input
                            type="password"
                            class="form-control"
                            placeholder="Пароль"
                            th:field="*{password}">
                </div>
                <p th:if="${#fields.hasErrors('password')}"  th:errors="*{password}" class="text-danger"></p>
                <button th:href="@{/register}" type="submit" class="btn btn-dark">Зарегестрироваться</button>
                <span>Уже есть аккаунт? </span><a th:href="@{/login}" >Войти</a>
            </form>
        </div>
    </div>
</div>
</body>

</html>